{% extends 'base.html' %}
<title>{% block title %}Парапланерный сервис {% endblock %}</title>
{% block content %}
<table class="table mt-5 table-bordered table-striped table-hover">
	<thead class="table-dark">
		<tr>
			<td>Title</td>
			<td>Category</td>
			<td>Price</td>
			<td>students</td>
			<td></td>
		</tr>
    </thead>
    <tbody>
		<tr>
			{%for course in courses%}

			<!--<td><a href="{{course.id}}">{{course.title}}</a></td>-->
			<td><a href={% url "shop:single_course" course.id %}>{{course.title}}</a></td>
			<td>{{course.category}}</td>
			<td>{{course.price}}</td>
			<td>{{course.students_qty}}</td>
			<td><button class="btn btn-primary">Жми</button></td>
		</tr>
	{%endfor%}
	</tbody>
</table>
{% endblock %}
